.story_item {
  font-family: Arial, sans-serif;
  list-style: none;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 75%;
  border-radius: 8px;
  background-color: transparent;
  border-color: #a0a0a0;
  border-width: 1px;
  border-style: solid; 
}

.byline {
  align-items: center;
  background-color: rgba(255, 145, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
  width:20%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  padding: 0.1em;
}

.username {
  font-size: 20px;
  font-weight: bold;
  color: #666;
  margin-bottom: 5px;
  padding: 0.1em;
  display: inline;
  white-space: nowrap;

}

.abbr {
  align-items: center;
  padding: 2%;
  font-size: 17px;
  color: #333;
  border-radius: 8px;
}
